.darkmode {
    transition: 0.4s;
    background-color: #282c34;
    color: #61dafb !important;
}

.darkmode p, div, h1, h2, h3, h4 {
    color: #61dafb !important;
}

.lightmode {
    transition: 0.4s;
    background-color: white;
    color: #282c34 !important;
}

.lightmode p, div, h1, h2, h3, h4{
    color: #282c34 !important;
}