.darkmode .card, .darkmode Card, .darkmode CardContent, .darkmode form, .darkmode CardActions, .darkmode Button {
    transition: 0.4s;
    background-color: #282c34 !important;
    color: #61dafb !important;
}

.darkmode p, div, h1, h2, h3, h4 {
    color: #61dafb !important;
}

.lightmode .card {
    transition: 0.4s;
    background-color: white !important;
    color: #282c34 !important;
}

.lightmode p, div, h1, h2, h3, h4 {
    color: #282c34 !important;
}